<?xml version="1.0" encoding="utf-8"?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="jsonAsyncTarget" xsi:type="AsyncWrapper">
      <target name="jsonTarget" xsi:type="File" fileName="c:/EzAlgo/EzAlgo.Core.Logs-${shortdate}.log" maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="100000000" concurrentWrites="true" archiveFileName="c:/EzAlgoTrading/logs-${shortdate}.{####}.log">
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" writeTo="jsonAsyncTarget" />
  </rules>
</nlog>